// /* Brand Colors ------------------------------------------------*/
$colorBlue:rgba(3, 186, 254, 1);
$dark_prim: rgba(3, 187, 254, 0.4);
$prim: #D7CCC8;
$light_prim:  rgba(3, 187, 254, 0.4);
$text: #434343;
$border: rgba(3, 187, 254, 0.4);
$green: rgba(3, 186, 254, 1);
